body {
  margin: 0;
  padding: 0;
  background-color: #e9e4e4;
}

.main-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.input {
  width: 900px;
  margin-left: 10px;
}

.square {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1c222b;
  border-radius: 5px;
}

.rectangle {
  width: 80px;
  height: 35px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1c222b;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 13px;
}

.icon {
  color: #0b0e14;
  margin-right: 10px;
}

.border-right {
  border-right: 1px solid #b8b5b5;
}

h6 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

p {
  font-size: 15px;
}

.sub-card {
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  color: rgb(199, 6, 6);
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
